@import 'bulma/sass/utilities/initial-variables';
@import 'bulma/sass/utilities/functions';
$body-background-color: #ecf0f1;
// $title-color: red;
// $title-color: #FF6C3A;
$steps-horizontal-min-width: 15em;
@import 'bulma/bulma';
@import 'bulma-steps-component/bulma-steps.sass'